@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@400;700&display=swap');

:root {
  --brand-orange: #f97316;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #FFF7ED;
}

@keyframes zoomOut {
  0% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animate-zoomOut {
  animation: zoomOut 8s ease-in-out infinite alternate;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.35s ease-out;
}
